* {
  font-family: "MonaspiceNe Nerd Font", sans-serif;
  border: none;
  font-size: 13px;
  color: #c9d1d9;
  min-height: 10px;
}

window#waybar {
  background: #0d1117;
  margin: 6px 8px;
  padding: 4px 6px;
}

#workspaces {
  padding: 2px;
  min-width: 200px;
}

#workspaces button {
  border-radius: 0;
  padding: 2px 8px;
  margin: 0 2px;
  border-bottom: 2px solid transparent;
  color: #8b949e;
}

#workspaces button.active {
  color: #f0f6fc;
  background: #161b22;
  border-bottom: 2px solid #58a6ff;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0 5px;
}

#clock,
#network,
#battery,
#backlight,
#pulseaudio,
#cpu,
#memory,
#custom-clipboard,
#custom-recorder,
#custom-spotify,
#custom-pomodoro,
#custom-screenshot {
  background: transparent;
  padding: 4px 8px;
  margin: 0 3px;
}

#custom-pomodoro  { color:#ff7b72; }

#tray {
  background: transparent;
  padding: 4px 8px;
  margin: 0 3px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #ff7b72;
  color: #0d1117;
}

#tray menu {
  background: #161b22;
  border: 1px solid #30363d;
}

#tray menuitem {
  padding: 4px;
}

#tray > widget > * {
  margin: 0 3px;
}

#clock:hover,
#network:hover,
#battery:hover,
#backlight:hover,
#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#workspaces button:hover,
#custom-clipboard:hover,
#custom-pomodoro:hover,
#custom-screenshot:hover,
#custom-spotify:hover {
  background: #21262d;
  transition: all 0.4s ease;
}
